/* .div {
  display: flex;
  flex-direction: column;
  justify-content: ;
  align-items: center;
} */
.div div {
  padding-top: 20px;
  font-size: 20px;
}
.text {
  color: rgb(119, 117, 117);
}
.a a {
  text-decoration: none;
  color: grey;
}
/* .param {
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
