.div {
  background-color: rgb(246, 231, 233);
  text-align: center;
  margin-top: 1px;
}
.div-text h2 {
  padding-top: 50px;
  font-size: 40px;
  font-family: normal;
  /* font-style: italic; */
}
/* .h2 {
  margin-top: 10px;
} */
.img-div {
  width: 500px;
  height: 400px;
  margin-top: 50px;
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
}
.img-div img {
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}
.img-div img:hover {
  width: 510px;
  height: 410px;
}
